@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Rubik&display=swap");
:root {
  --color-bg-primary: #050a30;
  --color-bg-secondary: #2e266d;
  --color-hover: rgba(46, 38, 109, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--color-bg-primary);
  color: #fff;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.app-body {
  display: grid;
  height: 100vh;
  grid-template-rows: 8.2rem auto 5.2rem;
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--color-bg-secondary);
  padding: 0 3.2rem;
  overflow: hidden;
}
.search-bar {
  justify-self: center;
  position: relative;
}
.logo {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.search {
  font-family: inherit;
  height: 4.8rem;
  border-radius: 20px;
  border: none;
  width: 40rem;
  font-size: 2.4rem;
  text-align: center;
  background-color: var(--color-bg-primary);
  color: #fff;
}
.icon-search {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 2.4rem;
}
.num-results {
  background-color: var(--color-bg-primary);
  width: 16rem;
  text-align: center;
  padding: 0.5rem 3.2rem;
  border-radius: 20px;
  font-size: 1.4rem;
}
/* ---------------MAIN------------------- */
.main-page {
  display: grid;
  grid-template-columns: 45rem auto;
  height: 100%;
  overflow: hidden;
}

.main-box {
  display: grid;
  grid-template-columns: 2fr 35rem;
  overflow: hidden;
}

.box-header {
  border-bottom: 5px solid var(--color-bg-secondary);
}
.box-games {
  min-height: 100%;
}

/* ---------------COMPONENT SearchGAMELIST------------------ */
.list {
  list-style: none;
  overflow-y: scroll;
  border-right: 5px solid var(--color-bg-secondary);
}
.list-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.list-el {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: auto auto;
  padding: 1.2rem 2rem;
  position: relative;
  column-gap: 3rem;
  row-gap: 1rem;
  border-bottom: 1px solid var(--color-bg-secondary);
  transition: all 0.3s;
  cursor: pointer;
}
.list-el:hover {
  background-color: var(--color-hover);
}
/* .list-el:nth-child(even) {
  background-color: var(--color-bg-secondary);
} */

.list::-webkit-scrollbar {
  display: none;
}
.cover-img {
  width: 100%;
  grid-row: 1 / -1;
}

/* ---------------------COMPONENT GAMEINFO--------------------- */
.game-info {
  height: 100%;
  display: grid;
  grid-template-rows: 13rem 1fr;
  overflow: hidden;
}

/* ---------------------COMPONENT GAMEINFO--------------------- */
.game-header {
  display: flex;
  border-bottom: 5px solid var(--color-bg-secondary);
}
/* ---------------------COMPONENT IMAGE--------------------- */

.game-image {
  border-right: 5px solid var(--color-bg-secondary);
}
.game-img {
  height: 100%;
}

/* ---------------------COMPONENT GAMEDETAILS--------------------- */
.game-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.details-container-one,
.details-container-two {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.details-container-two {
  justify-content: space-around;
  text-align: right;
}

.game-title {
  font-size: 1.8rem;
}
.game-devs {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.game-rating {
  font-size: 1.2rem;
}
.game-release {
  font-size: 1.4rem;
}
.game-platforms {
  display: flex;
}
.game-platform {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #999;
}

.game-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  color: #ddd;
  overflow-y: scroll;
}
.game-description::-webkit-scrollbar {
  display: none;
}
.about {
}
.additional-img {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 50%;
  width: 50%;
}
.images-description {
  display: flex;
  width: 100%;
  height: 30rem;
}
/* ---------------------COMPONENT GAMETAGS--------------------- */
.right-panel {
  display: grid;
  grid-template-rows: 40rem auto;
  border-left: 5px solid var(--color-bg-secondary);
  height: 100%;
  overflow: hidden;
}
.game-tag {
  overflow-y: scroll;
}
.game-tag::-webkit-scrollbar {
  display: none;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  /* justify-content: space-between; */
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
}
.tag {
  padding: 0.3rem 1.5rem;
  border-radius: 15px;
  background-color: var(--color-bg-secondary);
  font-size: 1.4rem;
}
.game-req-details {
  border-top: 1px solid var(--color-bg-secondary);
  overflow-y: scroll;
}
.game-req-details::-webkit-scrollbar {
  display: none;
}
.requirments {
  padding: 1rem 3.2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* ------------------------------------------------- */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--color-bg-secondary);
  height: 100%;
  padding: 0 3.2rem;
  z-index: 10;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
.primary-h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.2rem 0;
}
.primary-h3 {
  font-size: 1.6rem;
}
.primary-p {
  text-align: center;
  padding: 3.2rem 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}
.secondary-p {
  font-size: 1.2rem;
}

.btnStyles {
  border: none;
  color: var(--color-bg-secondary);
  background-color: transparent;
  font-family: inherit;
  font-size: 17px;
  cursor: pointer;
  margin: 6px;
}
